body {
    margin: 0;
    padding: 0;
    background-image: url("/material/pic\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, p {
    text-align: left;
}
img {
    width: 30%;
    padding: 10px;
}
address{
    margin: 0;
    padding: 15px;
    background-color: darkred;
    color: whitesmoke;
    text-align: right;
}
strong {
    font-size: 20px;
    font-style: normal;
}
.container {
    width: 600px;
    text-align: center;
    color: darkred;
    margin: auto;
    background: whitesmoke;
    padding: 15px 50px 0px;
    box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}
